* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3rem;
    width: 100%;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, rgba(2, 2, 76, 0.932), rgb(100, 201, 235));
    color: lightblue;
    padding-top: 3%;
}

h1 {
    font-weight: bold;
    font-family: "Anton", sans-serif;
    font-size: 60px;
    margin-top: 80px;
    text-shadow:
        2px 2px 0 black,
        -2px 2px 0 black,
        2px -2px 0 black,
        -2px -2px 0 black;
}

input {
    margin-top: 40px;
    padding: 10px;
    font-family: "Anton", serif;
    border-radius: 8px;
    width: 92%;
    font-size: 16px;
    background-color: rgb(185, 228, 241);
}

input:focus {
    transform: scale(1.01);
    box-shadow: 0 0 8px;
}

button {
    background-color: rgb(147, 207, 227);
    color: rgba(2, 2, 76, 0.932);
    padding: 11px 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow  0.3s ease;
}

button:hover  {
    transform: scale(1.1);
    box-shadow: 0 0 10px;
}

button:active {
    transform:
    scale(0.95b);
}

button.delete,
button.complete {
    padding: 5px 8px;
    font-size: 14px;
    height: 30px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: rgb(147, 207, 227);
    color: rgba(2, 2, 76, 0.932);
    font-family: "Anton", serif;
    padding: 15px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    animation: fadeIn 0.4s ease;
}

li span.text{
    flex: 1;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}




